.App {
  text-align: center;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: rebeccapurple;
  color: white;
  padding: 10px;
  border:solid 5px black;
  margin: 10px;
}


.box-container{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magnifier {
  /* Styles for <div> around image and magnifying glass */
  position: absolute !important;
  width: 131px !important;
  top: 60px;
  left: 617px;
  display: inline-block;
  background-color: red;
  
}

.magnifier-image {
  /* Styles for large image */
}

.magnifying-glass {
  /* Styles for magnifying glass */
}